.jumbotron.jumbo-parallax.home-parallax.vertical-center.horizontal-center
  .container.background-opacity-medium
    .jumbo-text
      %h1
        Value Investing
.container
  .row.horizontal-center
    %h2
      Onyx Shore - Investment Research
    %p
      We focus on deriving value across all sectors of the market, through simple analysis of Total Invested Capital ratios after adjustments.
