.jumbotron.jumbo-parallax.home-parallax.vertical-center.horizontal-center
  .container.background-opacity-medium
    .jumbo-text
      %h1
        Value Investing
.container
  .row.horizontal-center
    %h1
      Research
  .row
    %h2
      Snacks - May 3, 2017
    %p
      Not the sexiest industry to start my investment research in, but John B. Sanfilippo & Son, Inc. (NASDAQ:JBSS) has single handedly propelled returns in my private portfolio into the stratosphere over the last few years.
    %p
      I've analyzed 11 snack food companies for my first recommendation.
    %ul
      %li
        NYSE: ALN - American Lorain Corporation
      %li
        NYSE: ANFI - Amira Nature Foods
      %li
        NYSE: CAG - ConAgra Foods Inc
      %li
        NYSE: BETR - Amplify Snack Brands Inc
      %li
        NASDAQ: MDLZ - Mondelez International Inc
      %li
        NASDAQ: SNAK - Inventure Foods Inc
      %li
        NASDAQ: JJSF - J & J Snack Foods Corp
      %li
        NASDAQ: JBSS - John B. Sanfilippo & Son, Inc.
      %li
        NASDAQ: LMNR - Limoneira
      %li
        NYSE: POST - Post Holdings, Inc
      %li
        NASDAQ: LNCE - Snyder's Lance Inc
    %table{style: 'width: 100%; margin-top: 50px; margin-bottom: 50px;'}
      %tr
        %th
          Company
        %th.center
          TIC / Revenue
        %th.center
          TIC / EBITDA
        %th.center
          TIC / EBIT
        %th.center
          TIC / EBT
        %th.center
          TIC / Net Income
      %tr
        %th
          NYSE: ALN
        %th.center
          0.44
        %th.center
          3.71
        %th.center
          4.53
        %th.center
          6.68
        %th.center
          10.27
      %tr
        %th
          NYSE: ANFI
        %th.center
          0.66
        %th.center
          5.51
        %th.center
          5.68
        %th.center
          9.60
        %th.center
          14.77
      %tr
        %th
          NYSE: CAG
        %th.center
          1.77
        %th.center
          12.26
        %th.center
          15.89
        %th.center
          19.36
        %th.center
          29.79
      %tr
        %th
          NYSE: BETR
        %th.center
          4.74
        %th.center
          17.37
        %th.center
          19.40
        %th.center
          29.67
        %th.center
          45.65
      %tr
        %th
          NASDAQ: SNAK
        %th.center
          0.70
        %th.center
          35.10
        %th.center
          (95.52)
        %th.center
          (15.87)
        %th.center
          (24.42)
      %tr
        %th
          NASDAQ: JJSF
        %th.center
          2.53
        %th.center
          15.89
        %th.center
          21.33
        %th.center
          21.35
        %th.center
          32.84
      %tr
        %th
          NASDAQ: JBSS
        %th.center
          0.96
        %th.center
          11.28
        %th.center
          14.42
        %th.center
          15.20
        %th.center
          23.38
      %tr
        %th
          NASDAQ: MDLZ
        %th.center
          3.32
        %th.center
          20.15
        %th.center
          24.97
        %th.center
          36.93
        %th.center
          56.82
      %tr
        %th
          NASDAQ: LMNR
        %th.center
          3.46
        %th.center
          20.97
        %th.center
          30.18
        %th.center
          34.49
        %th.center
          53.07
      %tr
        %th
          NYSE: POST
        %th.center
          1.98
        %th.center
          12.43
        %th.center
          20.05
        %th.center
          50.96
        %th.center
          78.40
      %tr
        %th
          NASDAQ: LNCE
        %th.center
          2.22
        %th.center
          17.17
        %th.center
          26.96
        %th.center
          33.17
        %th.center
          51.04
    %p
      The multiples for both ALN and ANFI scream extreme value compared to their peers, however, I'm not 100% clear why they are so undervalued. It is most likely a factor of these two companies mainly operating in foreign markets coupled with inconsistent adjusted net income over the last 5 years. As such, I've chosen to exclude them for my portfolio.
    %p
      The 2 companies that provide the most value among the remaining 9 are CAG and JBSS, with JBSS barely edging out CAG due to the more lucrative bottom line multiples of EBT and Net Income.
    %p
      I will be purchasing additional shares of JBSS for the next year until I re-evaluate this sector next year.


