!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title Cvalorem
    = csrf_meta_tags
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'
  %body
    %nav.navbar.navbar-default.navbar-fixed-top.navigation
      .container
        .navbar-header
          %a.navbar-brand.navigation-title{href: "/"}
            CValorem
        .collapse.navbar-collapse
          %ul.nav.navbar-nav.navbar-right.navigation-links
            %li{role: 'presentation'}
              %a{href: "/about"}
                About
            %li{role: 'presentation'}
              %a{href: "/research"}
                Research
            %li{role: 'presentation'}
              %a{href: "/portfolio"}
                Portfolio
    = yield
