!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title Onyx Shore
    = csrf_meta_tags
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'
  %body
    %nav.navbar.navbar-default.navbar-fixed-top.navigation
      .container
        .navbar-header
          %a.navbar-brand.navigation-title{href: "/"}
            Onyx Shore
        .collapse.navbar-collapse
          %ul.nav.navbar-nav.navbar-right.navigation-links
            %li{role: 'presentation'}
              %a{href: "#"}
                About
            %li{role: 'presentation'}
              %a{href: "#"}
                Research
            %li{role: 'presentation'}
              %a{href: "/portfolios/1"}
                Portfolio
    = yield
    %footer.footbar
      .container
        .row.vertical-center
          .col-sm-3.col-md-3.col-lg-3.horizontal-center
            %h4.footbar-title
              Onyx Shore
          .col-sm-3.col-md-3.col-lg-3.horizontal-center
            .row
              %a{href: '#'}
                About
          .col-sm-3.col-md-3.horizontal-center
            .row
              %a{href: '#'}
                Portfolio
          .col-sm-3.col-md-3.horizontal-center
            .row
              %a{href: '#'}
                Contact
